body,
html {
    width: 100%;
    height: 100%;
    background-color: #FDFDFD
}

.icons1 {
    width: 120px;
    margin: 10px
}

.socialmedia {
    width: 20%
}
#Home h1 {
    color: #fff;
    margin-top: 25vh;
}

.btn-primary {
    color: #000;
    background-color: #fff;
    border-color: #000;
    width: 100%;
    font-size: 20px;
    padding: 7px
}

.btn-primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #fff
}

.scrollspy1 {
    color: #fff
}

/* HOME */
#Home .description {
    color: #fff;
    font-weight: 400
}


.btn-default {
    color: #ffffff;
    background-color: #000000;
    border-color: #fff;
    min-width: 250px;
    text-transform: uppercase;
    margin: 1vh;
    box-shadow: 3px 3px 14px -5px white;
}

.navbar {
    border: none
}

.jumbotron {
    background-color: transparent;
    color: #fff
}

.intro-header {
    text-align: center;
    position: relative;
    width: 100%;
    height: 80vh;
    background: url(../img/bg-banner.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: table
}

.blurr{
    background: linear-gradient(0deg, black, transparent);
    height: 100%;
}

.centerize {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle
}

.about-me {
    padding: 50px;
    text-align: center;
    position: relative
}

.about-me hr {
    width: 40px;
    margin-bottom: 45px;
    border-color: #000
}

hr {
    border-color: #000
}

.portfolio {
    padding: 50px
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 15px
}

.contact {
    background-color: #000;
    color: #fff;
    text-align: center
}

.contact a {
    font-size: 15px;
    color: #fff
}

.contact a:hover {
    color: #64b5f6
}

responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: 290px
}

@media (max-width: 800px) {
    responsive,
    .thumbnail>img,
    .thumbnail a>img,
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        height: auto
    }
    .socialmedia {
        width: 32%
    }
    .icons1 {
        width: 42px
    }

    .d-flex {
        display: inherit !important;
    }
}


/* footer */
#form_contact {
    width: 300px;
    margin: auto;
}

#form_contact input,
#form_contact label,
#form_contact textarea,
#form_contact button{
    width: 100% !important;
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif !important;
}

#form_contact label {
    text-align: left;
    font-weight: 100;
    margin-top: 2vh;
}
#form_contact button{
    color: black;
    text-transform: uppercase;
    font-size: 2rem;
}

#form_contact input,
#form_contact textarea{
    color: black;
}

#form_contact textarea{
height: 70px;
}

.footer img{
    max-width: 80px;
}

.d-flex{
    display: flex;
}

.a-center{
    align-items: center;
}

.box-footer {
    padding: 5vh 0vh 5vh 0vh;
}

.whatsapp{
    width: 200px;
    display: block;
    background: linear-gradient(45deg, #00ff72, #005f10);
    margin: auto;
    padding: 1vh;
    text-transform: uppercase;
    box-shadow: 1px 1px 6px 2px #06190e;
    text-decoration: inherit;
}

.whatsapp:hover{
    width: 200px;
    display: block;
    background: linear-gradient(45deg, #005f10, #00ff72 );
    margin: auto;
    padding: 1vh;
    text-transform: uppercase;
    box-shadow: 1px 1px 6px 2px #06190e;
    text-decoration: inherit;
}